
// 首页 字体样式

// 搜索
.index-search-text,.category-search-text,.search-search input ,.search-search-text{
  font-size: 12px;
}
[data-dpr="2"] .index-search-text ,[data-dpr="2"] .category-search-text,[data-dpr="2"] .search-search input , [data-dpr="2"] .search-search-text{
    font-size: 24px;
}

[data-dpr="3"] .index-search-text,[data-dpr="3"] .category-search-text,[data-dpr="3"] .search-search input, [data-dpr="3"] .search-search-text {
    font-size: 36px;
}
.index-search-icon,.category-search-icon,{
    font-size: 16px;
    margin-top: -8px;
}
[data-dpr="2"] .index-search-icon,[data-dpr="2"] .category-search-icon{
    font-size: 32px;
    margin-top:  -16px;
}
[data-dpr="3"] .index-search-icon,[data-dpr="3"] .category-search-icon{
    font-size: 48px;
    margin-top: -24px;
}

// 顶部导航
.nav-wrap .nav-item{
   font-size 14px
}
[data-dpr="2"] .nav-wrap .nav-item{
    font-size: 28px;
}

[data-dpr="3"] .nav-wrap .nav-item{
    font-size: 42px;
}
.nav-wrap .nav-item i{
   font-size 16px
}
[data-dpr="2"] .nav-wrap .nav-item i{
    font-size: 32px;
}

[data-dpr="3"] .nav-wrap .nav-item i{
    font-size: 48px;
}

// 分类导航


.category-nav .nav-item{
    font-size 12px
}
[data-dpr="2"] .category-nav .nav-item{
    font-size: 24px;
}

[data-dpr="3"] .category-nav .nav-item{
    font-size: 36px;
}
// 商品列表
.index-goods-title,.category-goods-title{
   
    font-size: 14px; // 默认写上dpr为1的fontSize
}

[data-dpr="2"] .index-goods-title,[data-dpr="2"] .category-goods-title{
    font-size: 28px;
}

[data-dpr="3"] .index-goods-title,[data-dpr="3"] .category-goods-title{
    font-size: 42px;
}

.index-goods-text ,.category-goods-text{
   
    font-size: 12px; // 默认写上dpr为1的fontSize
}

[data-dpr="2"] .index-goods-text ,[data-dpr="2"] .category-goods-text{
    font-size: 24px;
}

[data-dpr="3"] .index-goods-text ,[data-dpr="3"] .category-goods-text{
    font-size: 36px;
}

.index-goods-btn,.category-goods-btn {
   
    font-size: 12px; // 默认写上dpr为1的fontSize
}

[data-dpr="2"] .index-goods-btn,[data-dpr="2"]  .category-goods-btn{
    font-size: 24px;
}

[data-dpr="3"] .index-goods-btn,[data-dpr="3"] .category-goods-btn{
    font-size: 36px;
}

// 公共底部
.footer-text{
  font-size: 12px;

}

[data-dpr="2"] .footer-text{
    font-size: 24px;
}

[data-dpr="3"] .footer-text{
    font-size: 36px;
}
.footer-icon{
  font-size: 24px;

}

[data-dpr="2"] .footer-icon{
    font-size: 48px;
}

[data-dpr="3"] .footer-icon{
    font-size: 72px;
}

// category 字体样式
.category .menu-item{
   font-size: 12px;
  
}
[data-dpr="2"] .category .menu-item{
    font-size: 24px;
}

[data-dpr="3"] .category .menu-item{
    font-size: 36px;
}
.category .menu-item i{
   font-size: 16px;
  
}
[data-dpr="2"] .category .menu-item i{
    font-size: 32px;
}

[data-dpr="3"] .category .menu-item i{
    font-size: 48px;
}

.category-nav-text div{
  
   font-size: 10px;
}
[data-dpr="2"] .category-nav-text div{
    font-size: 20px;
}

[data-dpr="3"] .category-nav-text div{
    font-size: 30px;
}
.category-nav-text div i{
  
   font-size: 10px;
}
[data-dpr="2"] .category-nav-text div i{
    font-size: 20px;
}

[data-dpr="3"] .category-nav-text div i{
    font-size: 30px;
}

// productDetail 样式
.detail-title{
  font-size: 24px;

}
[data-dpr="2"] .detail-title{
    font-size: 48px;
}

[data-dpr="3"] .detail-title{
    font-size: 72px;
}
.detail-text{
  font-size: 16px;

}
[data-dpr="2"] .detail-text{
    font-size: 32px;
}

[data-dpr="3"] .detail-text{
    font-size: 48px;
}

// 搜索页面 字体样式
.search-back i{
  font-size: 20px;

}
[data-dpr="2"] .search-back i{
    font-size: 40px;
}

[data-dpr="3"] .search-back i{
    font-size: 60px;
}
.search-search i{
  font-size: 18px;
  margin-top: -9px;

}
[data-dpr="2"] .search-search i{
    font-size: 36px;
    margin-top: -18px;
}

[data-dpr="3"] .search-search i{
    font-size: 54px;
    margin-top: -27px;
}
.search-search-title{
    font-size: 20px;
    font-weight: 700;
}
[data-dpr="2"] .search-search-title{
    font-size: 40px;
  
}

[data-dpr="3"] .search-search-title{
    font-size: 60px;
   
}
.search-search-delete{
    font-size: 16px;
   
}
[data-dpr="2"] .search-search-delete{
    font-size: 32px;
  
}

[data-dpr="3"] .search-search-delete{
    font-size: 48px;
   
}
.search-search-list  {
    font-size: 14px;
}
[data-dpr="2"] .search-search-list{
    font-size: 28px;
  
}

[data-dpr="3"] .search-search-list{
    font-size: 42px;
   
}
   
// 

.company-info{
    font-size: 16px;
}

[data-dpr="2"] .company-info{
    font-size: 32px;
  
}

[data-dpr="3"] .company-info{
    font-size: 48px;
   
}
.member-menu-icon1 i{
    font-size: 18px;
}
[data-dpr="2"]  .member-menu-icon1 i{
    font-size: 36px;
}
[data-dpr="3"] .member-menu-icon1 i{
    font-size: 52px;
}
.member-menu-icon i{
    font-size: 16px;
}
[data-dpr="2"]  .member-menu-icon i{
    font-size: 32px;
}
[data-dpr="3"] .member-menu-icon i{
    font-size: 48px;
}
.member-menu-text{
    font-size: 16px;
}
[data-dpr="2"]  .member-menu-text{
    font-size: 32px;
}
[data-dpr="3"] .member-menu-text{
    font-size: 48px;
}
.member-user-name{
    font-size: 16px;
    
}
[data-dpr="2"] .member-user-name{
    font-size: 32px;
    
}
[data-dpr="3"] .member-user-name{
    font-size: 48px;
    
}